<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% if status != "Finished" %}
	<meta http-equiv="refresh" content="3">
	{% endif %}
    <title>The result of {{id}}</title>
</head>

<body>
	<table align="center">
		<tbody>
			<tr><td>UUID</td><td>{{id}}</td></tr>
			<tr><td>Status</td><td>{{status}}</td></tr>
			{% if status == "Finished" %}
			<tr><td>Result</td><td>{{ result.result }}</td></tr>
			<tr><td>Time Usage</td><td>{{ result.time }}</td></tr>
			<tr><td>Memory Usage</td><td>{{ result.mem }}</td></tr>
			{% endif %}
		</tbody>
	</table>
</body>

</html>
