<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit your program!</title>
</head>

<body>
    <form method="POST" action="submit">
        Problem:
        <select name="problem">
            <!-- <option value="0">0</option>
            <option value="1">1</option> -->
            {% for problem in problems %}
                <option value="{{problem}}">{{problem}}</option>
            {% endfor %}
        </select>
        <br> Language:
        <select name="language">
            <option value="c">C</option>
            <option value="cpp">C++</option>
            <option value="python">Python</option>
            <option value="java">Java</option>
        </select>
        <br> Source Code:
        <br>
        <textarea rows="30" cols="80" name="code" style="font-family:'Courier New', Courier, monospace"></textarea>
        <br>
        <input type="submit" value="Submit" name="submit">
    </form>
</body>

</html>
